body {
    background-image: url("https://i.pinimg.com/736x/2d/15/74/2d157475da3f359c2bfcd10875aaa872.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* .caption-1 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%
  } */

.about {
  background-color: lightblue;
  height: 100vh
}

.btn {
  background-color: azure;
}

.contact {
  background-color: lightgray;
  height: 100vh
}

.header {
  height: 100vh
}

.profile {
  background-color: pink;
  height: auto
}


/* .text-container {
  padding: 20px;
  background-color: beige;
} */
  
