body {
    background-image: url("https://i.pinimg.com/736x/2d/15/74/2d157475da3f359c2bfcd10875aaa872.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* .caption-1 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%
  } */


.home {
 
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}



/* @layer demo {
  .highlighted-text-shadow {
    text-shadow:
      /* regular text-shadow */
      /* 0 .15ch 15px var(--shadow), */
      /* text-shadow highlight */
      /* 0 -2px 0 var(--highlight); */
      /* height: 100px; */
  /* } */


/*@layer demo.support {
  :root {
    --hue: 320;  change me
    --bg: oklch(35% .3 var(--hue));
    --text: oklch(85% .1 var(--hue));
    --shadow: oklch(25% .2 var(--hue));
    --highlight: oklch(98% .05 var(--hue));
  }}
  
  * {
    box-sizing: border-box;
    margin: 0;
  } */

 

  
  h1 {

   
    font-family: system-ui, sans-serif;

    /* display: grid; */
    place-content: center;
    gap: 15vh;
    height: 100px;
    font-size: 80vi;
    letter-spacing: -.15ch;
    /* line-height: .75; */
  }
  




.about {
  background-color: lightblue;
  height: 100vh
}

.btn {
  background-color: azure;
}

.contact {
  background-color: lightgray;
  height: 100vh
}

.header {
  height: 100vh
}

.profile {
  background-color: pink;
  height: auto
}


/* .text-container {
  padding: 20px;
  background-color: beige;
} */
  
